@import "./util/variables";
@import "./logo/_logo";
@import "./components/_page-header";
@import "./components/_page-footer";
@import "./components/base";

body {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  body {
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1600px) {
  body {
    min-width: 1600px;
  }
}

/*                 ГЕРОЙ*/

.hero {
  background-color: #c4c4c4;

  text-align: center;

  & .hero-title {
    margin: 0;
    padding-top: 118px;

    color: $button-text-color;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: 1.56px;
    text-transform: uppercase;

    @media screen and (min-width: 1600px) {
      padding-top: 200px;

      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 2.64px;
    }
  }
}

.overlay {
  display: inline-block;
  width: 480px;
  height: 400px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgMob\ img.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    width: 768px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: 1600px) {
    min-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg-img.jpg);
  }
}

.btn-open {
  padding: 10px 24px;
  margin-bottom: 118px;
  margin-top: 30px;

  border: none;
  background-color: $accent-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: $button-text-color;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;

  @media screen and (min-width: 1600px) {
    padding: 10px 32px;
    margin-bottom: 200px;
  }
}

//               МОДАЛЬНЕ ВІКНО
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  background-color: $button-text-color;

  &:focus,
  &:hover {
    fill: $accent-color;
  }
}

.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: auto;
  right: auto;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: $transition-opacity-modal;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 450px;
  height: 609px;

  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  background: $button-text-color;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1600px) {
    width: 528px;
    height: 581px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

form {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.form-text {
  display: block;
  width: 370px;

  margin: 40px auto 30px;

  color: $primary-text-color;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

@media screen and (min-width: 1200px) {
  .form-text {
    width: 100%;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 370px;
  margin-left: 40px;
  padding-bottom: 28px;

  &:focus-within > .form-icon,
  &:hover > .form-icon {
    fill: $accent-color;
    transform: $transition-standart;
  }
}

@media screen and (min-width: 1200px) {
  .form-field {
    width: 448px;
  }
}

.form-label {
  position: absolute;
  bottom: 100%;
  display: block;
  margin-bottom: 4px;

  color: $secondary-text-color;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: $accent-color;
    border-color: $accent-color;

    transform: $transition-standart;
  }
}

.form-field-comment {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 448px;
  margin-left: 40px;
  padding-bottom: 20px;
}

.form-comment {
  display: flex;
  flex-direction: column;

  width: 370px;
  height: 120px;
  margin-left: 40px;
  padding: 12px 16px;
  margin: 0;
  margin-bottom: 0;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    position: absolute;
    top: 10%;

    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
  }

  &:hover,
  &:focus {
    outline: $accent-color;
    border-color: $accent-color;

    transform: $transition-standart;
  }
}

@media screen and (min-width: 1200px) {
  .form-comment {
    width: 448px;
  }
}

.form-icon {
  position: absolute;
  top: 30%;
  left: 10px;

  transform: translateY(-50%);

  display: inline-block;
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-policy {
  display: flex;
  align-items: center;

  margin-bottom: 31px;

  &:hover > .check-icon {
    background-image: url(../images/icon\ check.svg);
  }
}

.form-policy {
  margin-left: 8px;
  color: $secondary-text-color;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;

  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .form-policy {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.42px;
  }
}

.policy-text {
  color: $accent-color;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}

@media screen and (min-width: 1200px) {
  .policy-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.42px;
  }
}

.form-checkbox {
  appearance: none;

  &:checked + .check-icon {
    background-image: url(../images/icon\ check.svg);

    transform: $transition-standart;
  }
}

.check-icon {
  display: inline-block;
  margin-left: 40px;

  width: 16px;
  height: 15px;

  background-image: url(../images/Vector.svg);

  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .check-icon {
    margin-left: 52px;
  }
}

.form-btn {
  padding: 10px 52px;

  border: none;
  border-radius: 4px;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: $button-text-color;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;

  transition: $transition-bgColor;

  &:focus,
  &:hover {
    background-color: #188ce8;
    transform: $transition-standart;
  }
}

//                    ОСОБЛИВОСТІ

.peculiarities {
  margin-top: 60px;

  @media screen and (min-width: 1600px) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1200px;
    margin-top: 94px;
    margin-left: auto;
    margin-right: auto;
  }
}

.peculiarities-list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }

  @media screen and (min-width: 1600px) {
    flex-wrap: nowrap;
  }
}

.peculiarities-item {
  padding: 0 15px;

  &:nth-child(2) .div .icon {
    background-image: url(../images/clock1.svg);
  }

  &:nth-child(3) .div .icon {
    background-image: url(../images/diagram1.svg);
  }

  &:nth-child(4) .div .icon {
    background-image: url(../images/astronaut1.svg);
  }

  &:not(:first-child) {
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }

  &:nth-child(3),
  &:nth-child(4) {
    margin-top: 30px;

    @media screen and (min-width: 1600px) {
      margin-top: 0;
    }
  }

  &:nth-child(2) {
    margin-right: 0;

    @media screen and (min-width: 1600px) {
      margin-right: 30px;
    }
  }

  &:last-child {
    @media screen and (min-width: 768px) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 354px;
    margin-right: 30px;
    padding: 0;
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1600px) {
    display: inline-block;
    width: 270px;

    margin-right: 30px;
  }
}

.div {
  display: inline-flex;
  justify-content: center;
  padding: 25px 190px;
  border-radius: 4px;
  background-color: #f5f4fa;

  @media screen and (min-width: 768px) {
    padding: 25px 142px;
  }

  @media screen and (min-width: 1600px) {
    padding: 25px 100px;
  }
}

.div .icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(../images/antenna1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.peculiarities-title {
  margin: 0;
  margin-top: 30px;

  color: $primary-text-color;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.peculiarities-text {
  margin: 0;
  margin-right: 15px;
  margin-top: 10px;

  text-align: start;
  color: $secondary-text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;

  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
}

//                     ЧИМ МИ ЗАЙМАЄМОСЯ

.label {
  position: absolute;
  top: 224px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  color: $button-text-color;

  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.label-title {
  margin: 0;
}

.whatarewedoing {
  display: flex;
  flex-direction: column;

  width: 1200;
  padding-top: 94px;

  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1599px) {
    display: none;
  }

  & .whatarewedoing-list {
    display: flex;

    padding-left: 15px;
    padding-right: 15px;
  }
}

.whatarewedoing-title {
  margin: 0;
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.whatarewedoing-list .list-item {
  position: relative;
  display: inline-block;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

//                      НАША КОМАНДА
.team {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  background-color: $feature-bg-color;

  @media screen and (min-width: 1600px) {
    display: flex;
    justify-content: center;
    margin-top: 94px;
  }
}

.ourteam {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    min-width: 768px;
  }

  @media screen and (min-width: 1599px) {
    width: 1200px;
    padding-bottom: 94px;
  }
}

.ourteam-title {
  padding-bottom: 30px;
  padding-top: 60px;
  margin: 0;

  color: $primary-text-color;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;

  @media screen and (min-width: 1599px) {
    padding-bottom: 50px;
    padding-top: 94px;

    font-size: 36px;
    letter-spacing: 1.08px;
  }
}

.ourteam-list {
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  & a {
    text-decoration: none;
  }

  & .list-item {
    display: block;

    background-color: $button-text-color;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 1599px) {
      margin-bottom: 30px;
    }
  }

  & .list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  & .list-item:nth-child(3) {
    @media screen and (min-width: 768px) {
      margin-bottom: 0;

      @media screen and (min-width: 1599px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 1599px) {
      margin-bottom: 30px;
    }
  }
}

.team-img {
  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1599px) {
    width: 270px;
  }
}

.list-item .title {
  margin: 0;
  padding-top: 30px;

  color: $primary-text-color;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: normal;
}

.list-item .text {
  margin: 0;
  padding-top: 10px;
  color: $secondary-text-color;

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.social {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 24px;
}

.social.list .item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }

  & a {
    display: inline-flex;
    width: 20px;
    height: 20px;

    fill: #afb1b8;
  }

  & a:hover {
    fill: $button-text-color;
  }

  &:hover {
    background-color: $accent-color;
  }

  &:focus {
    background-color: $accent-color;
  }
}

//                  ПОСТІЙНІ КЛІЄНТИ
.clients {
  text-align: center;

  @media screen and (min-width: 1599px) {
    display: flex;
    flex-direction: column;
  }

  &.list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1599px) {
      display: inline-block;
    }
  }

  & .title {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 30px;

    color: $primary-text-color;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;

    @media screen and (min-width: 1599px) {
      margin-top: 94px;
      margin-bottom: 50px;
    }
  }
}

.clients-item {
  padding: 16px 52px;
  margin-bottom: 30px;

  border: 1px solid $clients-fill;
  border-radius: 4px;

  display: inline-flex;

  @media screen and (min-width: 768px) {
    padding: 16px 60px;
  }

  @media screen and (min-width: 1599px) {
    padding: 16px 32px;
    margin-bottom: 94px;
  }

  & a {
    display: inline-block;
    height: 60px;
  }

  & .action-icon {
    margin: 0;
    padding: 0;
  }
}

.clients-item:nth-child(2n + 1) {
  margin-right: 30px;
}

.clients-item:last-child {
  margin-bottom: 60px;
}

.clients-item:nth-child(5) {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .clients-item {
    margin-right: 30px;
  }

  .clients-item:last-child,
  .clients-item:nth-child(3) {
    margin-right: 0px;
  }

  .clients-item:nth-child(4) {
    margin-bottom: 60px;
  }
}

.clients-item:nth-child(3) {
  @media screen and (min-width: 1599px) {
    margin-right: 30px;
  }
}

.clients-item .action-icon {
  display: inline-flex;

  width: 106px;
  height: 60px;

  fill: $clients-fill;
}

.clients-item:hover,
.clients-item:focus {
  border-color: $accent-color;
  transition: $transition-standart;
}

.clients-item .action-icon:hover,
.clients-item .action-icon:focus {
  fill: $accent-color;
}

.wrapper-nav .list a.link.current {
  color: var(--accent-color);
}

a.link.current::after {
  color: var(--accent-color);
  opacity: 1;
}

.list-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item .title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.item .text {
  margin: 0;

  color: #757575;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.48px;
}

//                  ПОРТФОЛІО

.wrapper-nav .list a.link.current {
  color: $accent-color;
}

a.link.current::after {
  color: $accent-color;
  opacity: 1;
}

.list-links {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

.item .title {
  margin-top: 0;
  margin-bottom: 0;

  color: $primary-text-color;

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.item .text {
  margin: 0;

  color: $secondary-text-color;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.48px;
}

.filter {
  display: flex;
}

.container-filter {
  display: flex;

  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
}

.filter-list {
  display: flex;

  padding: 0;

  & .item + .item {
    margin-left: 8px;
  }
}

.btn {
  display: inline-block;

  min-width: 125px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  background: $feature-bg-color;
  color: $primary-text-color;

  text-align: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;
  cursor: pointer;

  &:hover {
    color: $button-text-color;
    background-color: $accent-color;
  }
}
