@import "../util/variables";
@import "./base";

/* ФУТЕР */

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;

  background-color: $background-color;

  @media screen and (min-width: 768px) {
    min-width: 768px;
    display: block;
  }

  @media screen and (min-width: 1599px) {
    min-width: 1600px;
  }
}

.adress.list {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 60px;
  margin-left: 137px;
  padding: 0;

  @media screen and (min-width: 768px) {
    margin-left: 76px;
    margin-bottom: 60px;
    margin-top: 60px;
  }

  @media screen and (min-width: 1599px) {
    align-items: start;

    margin-top: 60px;
    margin-left: 215px;
  }

  & .item {
    display: inline-block;
  }
}
.adress .item + .item {
  margin-top: 8px;
}

.list .mail,
.list .tel {
  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
}
.kiev {
  padding: 0;
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;

  color: $button-text-color;
}

.adress a:hover,
.adress a:focus,
.page-footer a:hover {
  color: $accent-color;

  transition: $transition-standart;
}

//                   SOCIAL LINKS

.social-footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  margin-left: 137px;

  @media screen and (min-width: 768px) {
    margin-left: 165px;
    margin-top: 65px;
  }

  @media screen and (min-width: 1600px) {
    margin-top: 72px;
    margin-left: 70px;
  }
}

.social-footer .title {
  padding-bottom: 20px;
  margin: 0;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  color: $button-text-color;
}

.footer-social {
  & .item {
    display: inline-flex;

    justify-content: center;
    align-items: center;

    margin-bottom: 60px;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: rgba(255, 255, 255, 0.1);
  }

  & a:not(:last-child) {
    margin-right: 10px;
  }

  & .action-icon {
    fill: $button-text-color;
    width: 20px;
    height: 20px;
  }

  & .item:hover,
  & .item:focus {
    background-color: $accent-color;

    transition: $transition-standart;

    transform: $transform-standart;
  }
}

/*           ФУТЕР ФОРМА */

.form-footer {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1599px) {
    display: inline-flex;

    margin-left: 93px;
    margin-top: 72px;
  }
}

.footer-text {
  color: $button-text-color;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-input {
  display: inline-block;

  width: 358px;
  height: 50px;

  margin-top: 20px;
  margin-bottom: 20px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  outline: none;

  &:focus,
  &:hover {
    outline: $accent-color;
    border-color: $accent-color;

    transform: $transition-standart;
  }
}

.footer-btn {
  margin-bottom: 60px;
  padding: 10px 28px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;

  border: none;
  border-radius: 4px;
  background: $accent-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: $button-text-color;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.96px;

  transition: $transition-bgColor;

  @media screen and (min-width: 1599px) {
    position: absolute;
    top: 35px;
    left: 370px;

    margin-bottom: 0;
  }

  &::after {
    content: "";

    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 13px;
    margin-left: 10px;

    background-image: url(../images/icon\ send.svg);
  }

  &:focus,
  &:hover {
    background-color: #188ce8;
    transform: $transition-standart;
  }
}
